{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}



{% block body %}

    <h1>Inscris-toi</h1>

    <div class="form">
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.termsAccepted) }}

    <button type="submit" class="btn-connect">Register!</button>
    {{ form_end(form) }}
    </div>

{% endblock %}