{% extends "base.html.twig" %}

{% block body %}
    <main>
        <h2>Liste des Categories</h2>

        {% for category in category %}

                    <a href="{{ path('product_by_category', {'id': category.getId()}) }}" class="btn-category"><h3><img src="{{ category.logo }}" class="ico">{{ category.name }}</h3></a>

        {% endfor %}

            <a href="{{ path('all_product') }}" class="btn-category" style="text-align: center"><h3>Toutes les catégories</h3></a>

            <a href="{{ path('interest', {'id': app.user.id}) }}" class="brn-category"><h3>Ajouter centre d'interet</h3></a>

    </main>
{% endblock %}