{% extends "base.html.twig" %}

{% block body %}

    {% block menu %}
        <div id="menu">
            <nav>
                {% for category in category %}
                    <a href="{{ path('product_by_category', {'id': category.getId()}) }}" class="btn-category"><h3><img src="{{ category.logo }}" class="ico">{{ category.name }}</h3></a>
                {% endfor %}
                <a href="{{ path('all_product') }}" class="btn-category-all"><h3>Toutes les catégories</h3></a>
                <a href="{{ path('interest', {'id': app.user.id}) }}" class="btn-category-interest"><h3>Ajouter centre d'interet</h3></a>
                <a href="{{ path('app_logout') }}" class="brn-logout"><h3>Logout</h3></a>
            </nav>
        </div>

    {% endblock %}

    <main>
        <div class="product">
            {% for product in product %}
                <p>{{ product.name }}</p>
                <p>{{ product.markid.getName() }}</p>
                <img src="{{ product.image }}" class="img-product"/>
                <p>{{ product.describe }}</p>
                <a href="{{ product.link }}">En savoir plus</a>
            {% endfor %}
        </div>
    </main>
{% endblock %}