{% extends "base.html.twig" %}

{% block body %}

    {% block menu %}

        {% for category in category %}

            <a href="{{ path('product_by_category', {'id': category.getId()}) }}" class="btn-category"><h3><img src="{{ category.logo }}" class="ico">{{ category.name }}</h3></a>

        {% endfor %}

        <a href="{{ path('all_product') }}" class="btn-category" style="text-align: center"><h3>Toutes les catégories</h3></a>

        <a href="{{ path('interest', {'id': app.user.id}) }}" class="brn-category"><h3>Ajouter centre d'interet</h3></a>

        <a href="{{ path('app_logout') }}" class="brn-category"><h3>Logout</h3></a>

    {% endblock %}

    <main>


    <h1 class="my-4">Les produits du jour</h1>

    {% for product in product %}

        <a href="{{ path('show_product', {'id': product.getId()}) }}"><h3>{{ product.name }}</h3></a>
        <hr>
    {% endfor %}

    </main>
{% endblock %}