{% extends "base.html.twig" %}

{% block body %}
    {% for product in product %}
        <p>{{ product.name }}</p>
        <p>{{ product.markid.getName() }}</p>
        <img src="{{ product.image }}"/>
        <p>{{ product.describe }}</p>
        <p>{{ product.link }}</p>
    {% endfor %}

{% endblock %}