{% extends "base.html.twig" %}

{% block body %}


    <h2 id="date">{{ "now"|date("j/m", "Europe/Paris") }}</h2>
    {% block menu %}
        <div id="menu">
            <nav>
                <h2>Dayliz</h2>
                <a href="{{ path('all_product') }}" class="btn-category" ><h3><img src="{{ asset('vendor/img/home-icon-silhouette.png') }}" class="ico">Toutes les catégories</h3></a>
                {% for category in category %}
                    <a href="{{ path('product_by_category', {'id': category.getId()}) }}" class="btn-category"><h3><img src="{{ asset('vendor/img/light-bulb.png') }}" class="ico">{{ category.name }}</h3></a>
                {% endfor %}
                <a href="{{ path('interest', {'id': app.user.id}) }}" class="btn-category"><h3><img src="{{ asset('vendor/img/favorite.png') }}" class="ico">Ajouter centre d'interet</h3></a>
                <a href="{{ path('app_logout') }}" class="btn-category"><h3><img src="{{ asset('vendor/img/log-out.png') }}" class="ico">Logout</h3></a>
            </nav>
        </div>

    {% endblock %}
        {% for product in products %}
            <div>
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image }}" class="img-product"/>
                    <p id="mark-p">{{ product.markid.getName() }}</p>
                    <p id="describe-p">{{ product.describe }}</p>
                    <a href="{{ product.link }}">En savoir plus</a>
            </div>
        {% endfor %}
{% endblock %}



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for product in products %}
        <div class="carousel-item {{ product.index === 0 ? ' active': '' }}">
            <img class="d-block w-100" src="{{ product.image }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>{{ product.name }}</h3>
                <p id="mark-p">{{ product.markid.getName() }}</p>
                <p id="describe-p">{{ product.describe }}</p>
                <a href="{{ product.link }}">En savoir plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>